html {
    font-family: Arial, Helvetica, sans-serif;
}

/* body {
} */

.text-center {
    text-align: center;
}

h1 {
    margin: 5%;
    font-size: 3rem;
}

button:hover {
    cursor:pointer;
}

#Quizzes {
    position: relative;
    width: 80%;
    min-width: 480px;
    min-height: 100px;
    border: 2px solid black;
    margin: 10% auto;
    z-index: 3;
}

#tabContainer{
    top: -42px;
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: left;
}

.tabs{
    width: 100px;
    border: 2px solid black;
    border-top-right-radius: 15px;
    margin-left: 1%;
    padding: 10px;
    z-index: 1;
    background: #708090;
    transition: all .3s;
}

.tabs:hover {
    transition: all .3s;
    background: #abb2ba;
    z-index: 2;
    cursor:pointer;
}

.hidden{
    display: none;
}

.activetab {
    background: white;
    z-index: 2;
    border-bottom: none;
}

.activetab:hover {
    background: white;
    color: steelblue;
}

#quizContainer {
    z-index: 2;
    background: white;
    width: 90%;
    margin: 5% auto;
    box-sizing: border-box;
}

#quizContainer button {
    margin: 2% 0;
    min-width: 5rem;
    min-height: 2rem;
    background: #708090;
    color: whitesmoke;
}

#quizContainer button:active {
    background: #4e6984;
}

.quizDiv select{
    min-width: 5rem;
    height: 1.5rem;
}

/* quiz sheet */

.qcontain{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 1%;
}

.question {
    width: 45%;
}

.answer {
    width: 45%;
}

/* Answer Sheet */

#answerContainer {
    z-index: 2;
    background: white;
    width: 90%;
    margin: 5% auto;
    box-sizing: border-box;
}

.acontain{
    display: flex;
    flex-direction: column;
    margin-top: 1%;
}

@media screen and (max-width: 940px) {

.tabs{
    width: 50px;
}



}