html {
    background: var(--BG);
}

body {
    font-family: 'Roboto', sans-serif;
}

p {
    margin: 0;
}

:root {
    --windowOut:#810000;
    --backTabs:#620300;
    --windowIn:#EEEBDD;
    --textHover:#fad5a4;
    --border:#630000;
    --BG:#1B1717;
    --text: #900000;
}

.text-center {
    text-align: center;
}

h1 {
    padding: 1px;
    margin: 3% auto;
    font-size: 6rem;
    color: var(--windowIn);
}

h3 {
    font-size: 4rem;
    margin: 3%;
}

button:hover {
    cursor:pointer;
}

#Quizzes {
    position: relative;
    width: 80%;
    min-width: 480px;
    min-height: 100px;
    border: 3px solid var(--border);
    border-radius: 3px;
    margin: 0 auto 5em;
    z-index: 2;
    background: var(--windowOut);
}

#tabContainer{
    position: relative;
    top: .2rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: left;
}

.tabs{
    font-size: 1.2rem;
    letter-spacing: .1rem;
    text-align: center;
    width: 100px;
    border: 2px solid var(--backTabs);
    border-top-right-radius: 15px;
    margin-left: 1%;
    padding: 10px;
    z-index: 1;
    background: var(--backTabs);
    transition: all .2s;
    color: var(--windowIn);
}

.tabs:hover {
    transition: all .2s;
    background: var(--text);
    cursor:pointer;
    color: var(--textHover);
    text-shadow: 2px 2px 5px black;
}


.activetab {
    background: var(--windowOut);
    z-index: 3;
    border-bottom: none;
    border-bottom-color: var(--backTabs);
}

.activetab:hover {
    background: var(--windowOut);
}

#quizContainer {
    z-index: 2;
    color: var(--text);
    background: var(--windowIn);
    /* border: 3px solid var(--border); */
    border-radius: 3px;
    width: 90%;
    margin: 5% auto;
    padding: 3%;
    box-sizing: border-box;
}

#quizContainer button {
    margin: 2%;
    font: var(--windowIn);
    font-size: 1.2rem;
    min-width: 10rem;
    min-height: 2rem;
    background: var(--backTabs);
    color: whitesmoke;
    letter-spacing: .2em;
    border-radius: 10px;
}

#quizContainer button:hover {
    background: var(--windowOut);
    color: white;
    text-shadow: 2px 2px 5px black;
}

#quizContainer #getAnswers {
    margin-top: 5%;
}

.quizDiv{
    margin: 0;
}

.quizDiv select{
    height: 2rem;
    margin: 2% 0;
}

.selectionBox {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

#randomSect {
    font-weight: bolder;
    display: flex;
    justify-content: space-evenly;
}

#randomSect input[type='checkbox'] {
margin: 3px 0 0 3px;
align-self: center;
}

/* quiz sheet */

#quiz {
    margin: 2%;
}
.qcontain{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-top: 5%;
}

.question {
    font-size: 1.2rem;
    width: 45%;
}

.answer {
    width: 45%;
}

/* Answer Sheet */

#answerContainer {
    z-index: 2;
    background: var(--windowIn);
    width: 90%;
    margin: 5%;
    box-sizing: border-box;
    padding: 2% 0;
}

.acontain{
    display: block;
    background: white;
    width: 85%;
    display: flex;
    flex-direction: column;
    margin: 3% auto;
    text-align: center;
    border: 2px solid rgb(209, 77, 77);
    border-radius: 15px;
    box-sizing: border-box;
}

.aSheetP {
    margin: none;
    padding: 1em;
}

.answerP {
    background: rgb(208, 208, 208);
}

.hidden{
    display: none;
}

.answerKey {
    font-weight: bolder;
    text-transform: uppercase;
    text-decoration: underline;
    text-underline-offset: 2px;
    padding: .3em;
}

#answerCredit {
    color: var(--textHover);
    width: 30%;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 1em;
}
#answerCredit a {
    color: white;
}

@media screen and (max-width: 1070px) {

.tabs{
    width: 50px;
}

}

@media screen and (max-width: 611px) {

.selectionBox {
    flex-direction: column;
}

}